# Application
RAILS_ENV=production
RAILS_MAX_THREADS={{ ansible_processor_vcpus }}
PORT={{ starterpack_app_port }}
PIDFILE=/tmp/app.pid

# Apple App Store
#APPLE_AUTH_SECRET={{ starterpack_apple_secret }}

# Google Play Store
GOOGLE_PRODUCT_ID={{ starterpack_google_product_id }}
GOOGLE_PACKAGE_NAME={{ starterpack_google_package_name }}
GOOGLE_AUTH_JSON=/data/{{ starterpack_google_auth_json_file }}

# Ethereum Contract
ETHEREUM_HTTP_ENDPOINT={{ starterpack_eth_http_endpoint | mandatory }}
ETHEREUM_CONTRACT_ADDRESS={{ starterpack_eth_contract_address | mandatory }}
ETHEREUM_CONTRACT_NAME={{ starterpack_eth_contract_name | mandatory }}
ETHEREUM_PRIVATE_KEY={{ starterpack_eth_private_key | mandatory }}

# Database config for permanent storage
DATABASE_HOST=db
DATABASE_PORT={{ starterpack_db_port }}
DATABASE_NAME={{ starterpack_db_name }}
DATABASE_USER={{ starterpack_db_user }}
DATABASE_PASS={{ starterpack_db_pass }}

# Cache config for queue/locks
REDIS_URL=redis://cache:{{ starterpack_cache_port }}/{{ starterpack_cache_db }}
