# Initial DB access
POSTGRES_DB={{ starterpack_db_name }}
POSTGRES_USER={{ starterpack_db_user }}
POSTGRES_PASSWORD={{ starterpack_db_pass | mandatory }}

# fixes chmod errors on DB startup due to volume + userns-remap
PGDATA=/var/lib/postgresql/data/pgdata
