# Application
RAILS_ENV=production
RAILS_MAX_THREADS={{ ansible_processor_vcpus }}
SECRET_KEY_BASE={{ referral_srv_secret_key_base | mandatory }}
PORT={{ referral_srv_app_port }}
PIDFILE=/tmp/app.pid

# Google Play Store
GOOGLE_SIGN_IN_CLIENT_ID={{ referral_srv_google_sign_in_client_id | mandatory }}
GOOGLE_SIGN_IN_CLIENT_SECRET={{ referral_srv_google_sign_in_client_secret | mandatory }}

# Ethereum Contract
ETHEREUM_HTTP_ENDPOINT={{ referral_srv_eth_http_endpoint | mandatory }}
ETHEREUM_CONTRACT_ADDRESS={{ referral_srv_eth_contract_address | mandatory }}
ETHEREUM_CONTRACT_NAME={{ referral_srv_eth_contract_name | mandatory }}
ETHEREUM_PRIVATE_KEY={{ referral_srv_eth_private_key | mandatory }}

# Database config for permanent storage
DATABASE_URL=postgres://{{ referral_srv_db_user }}:{{ referral_srv_db_pass }}@db:{{ referral_srv_db_port }}/{{ referral_srv_db_name }}

# Cache config for queue/locks
REDIS_URL=redis://cache:{{ referral_srv_cache_port }}/{{ referral_srv_cache_db }}
