# Initial DB access
POSTGRES_DB={{ referral_srv_db_name }}
POSTGRES_USER={{ referral_srv_db_user }}
POSTGRES_PASSWORD={{ referral_srv_db_pass | mandatory }}

# fixes chmod errors on DB startup due to volume + userns-remap
PGDATA=/var/lib/postgresql/data/pgdata
